.root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: auto;
  width: 100%;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80%;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .avatarButton {
    cursor: pointer;
  }
}
