.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  width: 20%;
  min-width: 220px;
  background-color: #eae6de; /* Add a background color */
}

.top {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
  }
  .items {
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  .signOut {
  }
}
